* {
    padding: 0;
    margin: 0;
    /* outline: solid #f00 1px !important;
    background: #000 !important;
    color: #fff !important; */
}
ul,ol {
    list-style: none;
}
a {
    color:#333;
    text-decoration: none;
}
.left {
    float: left;
}
.right {
    float:right;
}
.nav,.banner,.star,.accessory,.world,footer {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.nav {
    height:100px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999999999;
    
}
.nav .nav-head {
    height: 30px;
    width: 100%;
    background-color: black;
}
.nav-head::after {
    /* 闭合浮动 清楚内外部浮动影响 */
    display: block;
    height: 0;
    content: "";
    clear: both;
    visibility: hidden;
}
.nav .weibo-1 {
    width: 17px;
    height: 20px;
    float: left;
    background: url("./images/i-h-qqwb.png");
    margin-left: 20%;
    border: 5px solid black;
    
}
.nav .weibo-2 {
    width: 21px;
    height: 17px;
    float: left;
    background: url("./images/i-h-sinawb.png");
    border: 5px solid black;
    
}
.nav .nav-head .tel {
    font-size: 14px;
    color: green;
    float: left;
    margin-left: 1%;
    margin-right:40%;
    line-height: 30px;
}

.nav  li{
    list-style: none;
    float: left;
    line-height: 30px;
}

.nav ol li {
    font-size: 14px;
    color: white;
    border-right: 1px solid white;
    padding:0  1% 0 ;
}
.nav ol li:last-child {
    border-right: 0 !important;
}
.nav ol p {
    font-size: 14px;
    color: white;
    line-height: 30px;
}
.nav-body {
    height: 70px;
    width: 100%;
    background-color: gainsboro;
    
}
.nav-body .logo {
    width: 170px;
    height: 65px;
    text-indent: -9999em;
    background: url("./images/logo.png") no-repeat center;
    margin-left: 20%;
    margin-right: 25%;
    position: relative;
    top: -10px;
    float: left;
    
}

.nav-body ul li {
    height: 70px;
    line-height:70px;
    padding: 0 1.5% 0;
    float: left;
}
.banner {
    height: 630px;
    width: 1620px;
    /* margin: 0 auto; */
    position: relative;
    /* left: 480px; */
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
    overflow: hidden;
    
}
 @keyframes ro {
     0% {
        transform: translateX(-810px);
     }
     100% {
        transform:  translateX(-2500px);
     }
 }
/* .banner3:hover {
    /* animation: banner all 3s ;
    animation: ro 1s ease forwards ;
 } */

.banner1 {
    height: 630px;
    background:url("./images/banner1.jpg") no-repeat center;
    /* vertical-align: top; */
    position: absolute;
    /* max-width: 80%; */
    width: 1620px;
}
.banner2 {
    height: 630px;
    /* width: 80%; */
    background:url("./images/banner2.jpg") no-repeat center;
    /* vertical-align: top; */
    position: absolute;
    width: 1620px;
}
.banner3 {
    height: 630px;
    /* width: 80%; */
    background:url("./images/banner3.jpg") no-repeat center;
    /* vertical-align: top; */
    position: absolute;
    width: 1620px;
    
}

.star {
    display: flex;
    flex-direction: column;
}
.star .slogan {
    
    width: 287px;
    height: 79px;
    background: url("./images/i-c-title.png") no-repeat center;
    align-self: center;
}
.star .box-all {
    height: 520px;
    width: 1200px;
    align-self:center;
    margin:3% 0 3%;
}
.star .box {
    width: 280px;
    height: 520px;
    text-align: center;
    float: left;
    margin-right: 2%;
    border-bottom: 2px solid grey;
}
.star .box:last-child {
    margin-right:0 !important;
}
.star .box2 p {
    color: gray;
}
.star .box1 .money {
    color: green;
    
}
.star .box2 p {
    color: gray;
}
.star .box2 .money {
    color: green;
    
}
.star .box3 p {
    color: gray;
}
.star .box3 .money {
    color: green;
    
}
.star .box4 p {
    color: gray;
}
.star .box4 .money {
    color: green;
}
.star .box span {
    background-color: green;
    color:white;
    border: 1px solid green ;
    border-radius: 150% ;
}

.accessory {
    width: 100%;
    height:1100px;
    flex-direction: column;
    position: relative;
    background-color: #F6F6F6;
    padding-bottom: 5%;
    overflow: hidden;
    
}
.accessory .logo {
    width: 395px;
    height:56px ;
    background: url("./images/wb.png") no-repeat center;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;

}
.accessory .container1 {
    width: 280px;
    height: 575px;
    border-bottom: 2px solid grey;
    position: relative;
    left: 200px;
    float: left;
    background: url("./images/20150413174400N0dPnxUKHk.jpg") no-repeat center;
}

.accessory .container2 {
    width: 280px;
    height: 280px;
    border: 2px solid grey;
    position: relative;
    background-color: white;
    top: 0px;
    left: 230px;
    float: left;
}
.accessory .container2 h5 {
    font-size: 10px;
    margin-top: 25px;
    text-align: center;
}
.accessory .container2 .line {
    text-align: center;
    color: grey;
}
.accessory .container2 ul {
    float: left;
    
}
.accessory .container2 li {
    margin:20px 40px 20px 50px;
    font-size: 12px;
    text-align: center;
}
.accessory .container2 p {
    font-size: 10px;
    text-align: center;
}
.accessory .container2 .word {
    margin:10px 0 10px;
}
.accessory .container2 span {
    background-color: green;
    color:white;
    border: 1px solid green ;
    border-radius: 150% ;
}
.accessory .container3 {
    width: 580px;
    height: 280px;
    position: relative;
    background: url("./images/20150123182505RO822scYYt.jpg") no-repeat center;
    border-bottom: 2px solid grey;
    float: left;
    top: -0px;
    left: 260px;
}
.accessory .container4 {
    width: 280px;
    height: 275px;
    position: relative;
    background: url("./images/20131120165101xYIYzhkVEy.jpg") no-repeat center;
    border-bottom: 2px solid grey;
    float: left;
    top: 301px;
    left: -632px;
}

.accessory .container5 {
    width: 280px;
    height: 280px;
    position: relative;
    background: url("./images/20141011101157yZEFpMrk0h.jpg") no-repeat center;
    border-bottom: 2px solid grey;
    float: left;
    top: 25px;
    left: -14px;
}
.accessory .container6 {
    width: 280px;
    height: 580px;
    position: relative;
    border-bottom: 2px solid grey;
    float: left;
    top: -259px;
    left: 539px;
    background: url("./images/20141230145609l7Fsk7CdHy.jpg") no-repeat center;

}
.accessory .container7 {
    height: 280px;
    width: 580px;
    position: relative;
    float: left;
    background: url("./images/20150413174340NLV2gvV4FU.jpg") no-repeat center;
    border-bottom: 2px solid grey;
    top: 41px;
    left: -346px;
}
.accessory .container8 {
    width: 280px;
    height: 280px;
    position: relative;
    float: left;
    background: url("./images/201410270957132inlm3IwsV.jpg") no-repeat center;
    border-bottom: 2px solid grey;
    top: 40px;
    left: -4px;
}
.accessory .clearfix  {
    display: block;
    height: 0;
    content: "";
    clear: both;
    visibility: hidden;
    
}
.world {
    height: 800px;
    width: 100%;
    padding: 1px    ;
    background-color: #eaeaea;
    position: relative;
}
.world .slogan {
    width: 369px;
    height: 50px;
    background: url("./images/world.png") no-repeat;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.world .world-left .box {
    width: 380px;
    height: 270px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
}
.world .world-left .box1 {
    background: url("./images/201403261455420lqMPNGENc.png") no-repeat center;
    margin-left: 200px;
}
.world .world-left .box2 {
    top: -280px;
    left: 600px;
    background: url("./images/20150226100534QqezQ85N6y.jpg") no-repeat center;
}
.world .world-left .box3 {
    background: url("./images/20140926184007v2rjcVFcbW.jpg") no-repeat;
    top: -274px;
    left: 200px;
}
.world .world-left .box4 {
    top: -554px;
    left: 600px;
    background: url("./images/20131212113902waaLqQUWfB.jpg") no-repeat;
}
.world .world-right {
    float: right;
    margin-right: 200px;
    background-color: white;
    position: relative;
}
.world .world-right .news {
    width: 300px;
    height: 557px;
    background-color: white;
}

.world .world-right .news p {
    display: inline-block;
    text-align: center;
    width: 154px;
    height: 46px;
    border-top: 2px solid green;
    line-height: 46px;
}
.world .world-right li {
    width: 260px;
    height: 110px;
    position: relative;
    background-color:#DADADA;
    margin: 10px auto;
    text-align: center;
}
.world-right ul li img {
    vertical-align: middle;
    float: left;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.world-right ul li span {
    position: absolute;
    font-size:14px;
    top:30px;
    left: 120px;
}

.world .world-right .weibo {
    visibility: hidden;
    /* overflow: hidden; */
    top: 48px;
    position:absolute;
    font-size: 14px;
    opacity: 1;
}
.world .world-right .weibo-box { 
    display: inline-block;
    background-color:grey;
    text-align: center;
    position: absolute;
    top: -48px;
    left: 146px;
    width: 154px;
    height: 46px;
    line-height: 46px;
    visibility: visible !important;

}
.world .world-right .weibo:hover {
    visibility:visible;
   
} 
.world .world-right .weibo-box:hover {
    width: 154px;
    height: 46px;
    border-top: 2px solid green;
    line-height: 46px;
    background-color: white;
}
footer {
    height: 436px;
    width: 100%;
}
footer .service {
    height: 43px;
    width: 1200px;
    margin:0 auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
footer .box {
    width: 167px;
    height: 43px;
    vertical-align: middle;
    /* background: url("./images/f1.jpg") no-repeat left center; */
    padding-left: 50px;
    font-size: 0.8em;
    float: left;
    
}
footer .box p {
    color:grey;
}
footer .box1 {
    background: url("./images/f1.jpg") no-repeat left center;
}
footer .box2 {
    background: url("./images/f2.jpg") no-repeat left center;
}
footer .box3 {
    background: url("./images/f3.jpg") no-repeat left center;
}
footer .box4 {
    background: url("./images/f4.jpg") no-repeat left center;
}
footer .box5 {
    background: url("./images/f5.jpg") no-repeat left center;
}
footer .footer-body {
    width: 1000px;
    height:170px;
    margin: 0 auto;
    overflow: hidden;
}
footer ul {
    float: left;
    margin-left: 50px;
    font-size: 0.8em;
}
footer ul li {
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}
footer ul h4 {
    color:black;
}
footer ul li p  {
    background: url("./images/i-h-sinawb.png") no-repeat left center;
    padding-left:21px;
}
footer ul li span {
    
    height: 32px;
    width: 32px;
    background: url("./images/contact_1.jpg") no-repeat left center;
    font-size:1.8em;
    color: green; 
    padding-left:32px;
}